.show-details-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top:0;
  opacity: 0;
  transition: opacity 500ms ease 100ms;
  background: transparent;
  border: 0;
  outline: none;
  width: 100%;

  span {
    display: block;
    width: 20px;
    margin: 100% auto 0;
    color: white;
    background-color: #f8a203;
    padding: 0 10px;
    max-height: 32px;
    border-radius: 10%;
    opacity: .5;
  }
}
