
.slider {
  display: flex;
  position: relative;

  &__container {
    display: flex;
    padding: 0 55px;
    transition: transform 500ms ease 100ms;
    z-index: 3;
    width: 100%;
  }

  .item:not(.item--open):hover .show-details-button {
    opacity: 1;
  }

  .item:not(.item--open):hover {
    transform: scale(1.5) !important;
    z-index:5;
    border: solid 4px rgb(248, 162, 3);
  }

  .item:not(.item--open):hover:first-of-type {
    left: 12px;
  }

  &:not(&--open):hover .item:not(.item--open) {
    transform: translateX(-25%);
  }

  .item:not(.item--open):hover ~ .item {
    transform: translateX(25%);
  }
}
